<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta layout:fragment="cdn">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style type="text/css">
<!--
.menu_name {
	background: aqua;
	font-style: italic;
	color: fuchsia;
	border-style: solid;
	margin: 100px;
}

.btns {
	padding-left: 30px;
	padding-top: 10px;
}
-->
</style>


<section th:fragment="controller">
	<div align="center">
		<table>
			<tr>
				<td class="btns">
					<form class="list" th:action="@{/dc/list}">
						<input type="submit" value="List">
					</form>
				</td>
				
				<td class="btns">
					<form class="hadoop" th:action="@{/dc/hadoop}">
						<input type="submit" value="Hadoop!">
					</form>
				</td>
				<td class="btns">
					<form class="export" th:action="@{/dc/export}">
						<input type="submit" value="Export">
					</form>
				</td>
				<td class="btns">
					<form class="crawl" th:action=@{/dc/crawl}>
						<input type="number" th:name="count" value="1" /> <input
							type="submit" value="Crawl" />
					</form>
				</td>
				<td class="btns">
					<form class="min_result_chart" th:action="@{/dc/min_result_chart}">
						<input type="submit" value="min_result_chart">
					</form>
				</td>
				<td class="btns">
					<form class="hour_result_chart"
						th:action="@{/dc/hour_result_chart}">
						<input type="submit" value="hour_result_chart">
					</form>
				</td>
				<td class="btns">
					<form class="day_result_chart" th:action="@{/dc/day_result_chart}">
						<input type="submit" value="day_result_chart">
					</form>
				</td>
				<td class="btns">
					<form class="word" th:action="@{/dc/word}">
						<input type="submit" value="WordMap">
					</form>
				</td>
			</tr>
		</table>
	</div>
</section>

<section layout:fragment="js">
	<!-- 		chartjs -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	<!-- 		bootstrap -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<!-- 		jquery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<!-- 		popper.js -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
</section>
</html>