<!DOCTYPE html>
<html xmlns:th="httlabel://www.thymeleaf.org"
	xmlns:layout="httlabel://www.ululaq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta th:fragment="cdn" />
<style type="text/css">
</style>
</head>
<body>
	<div class="form-group">
		<label class="col">DBNO</label> <input th:value=${result.dbno} readonly="readonly"></input>
	</div>
	<div class="form-group">
		<label class="col">USER</label> <input th:value=${result.user} readonly="readonly"></input>
	</div>
	<div class="form-group">
		<label class="col">TITLE</label> <input th:value=${result.title} readonly="readonly"></input>
	</div>
	<div class="form-group">
		<label class="col">CONTENT</label> <input th:value=${result.content} readonly="readonly"></input>
	</div>
	<div class="form-group">
		<label class="col">IPADDRESS</label> <input th:value=${result.ipAddress} readonly="readonly"></input>
	</div>
	<div class="form-group">
		<label class="col">REGDATE</label> <input th:value=${result.regDate} readonly="readonly"></input>
	</div>
	<section th:fragment="js" />
</body>
</html>